-- ~/.config/matugen/templates/colors.lua.template
return {
  primary = "rgb({{colors.primary.default.hex_stripped}})",
  primary_container = "rgb({{colors.primary_container.default.hex_stripped}})",
  outline = "rgb({{colors.outline.default.hex_stripped}})"
}
